<ion-view view-title="Streaming">
  <ion-content>
    <div class="row" ng-show="message.status">
      <div class="alert alert-{{ message.status }}">
        <p class="text-center text-dark">
          {{ message.data }}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col col-50">
        <img class="padding poster" ng-src="{{movie.poster_240x342}}" alt="poster" ng-if="movie.poster_240x342 !== 'N/A'" ng-show="movie"/>
      </div>
      <div class="col" ng-show="movie">
        <h4 class="padding-horizontal">{{ movie.title }}</h4>
        <p class="padding-horizontal">
          <strong>Rated:</strong> {{ movie.rating }}<br />
        </p>
      </div>
    </div>
    <div class="details" ng-show="movie">
      <div ng-show="movie.purchase_web_sources.length">
        <h3>Paid</h3>
        <ul>
          <li ng-repeat="source in movie.purchase_web_sources">
            <a class="button button-block margin-horizontal" ng-click="GoToLink(source.link)">{{ source.display_name }}</a>
          </li>
        </ul>
      </div>
      <hr />
      <div ng-show="movie.free_web_sources.length">
        <h3>Free</h3>
        <ul>
          <li ng-repeat="source in movie.free_web_sources">
            <a class="button button-block margin-horizontal" ng-click="GoToLink(source.link)">{{ source.display_name }}</a>
          </li>
        </ul>
      </div>
      <div ng-show="movie.subscription_web_sources.length">
        <h3>Subscription</h3>
        <ul>
          <li ng-repeat="source in movie.subscription_web_sources">
            <a class="button button-block margin-horizontal" ng-click="GoToLink(source.link)">{{ source.display_name }}</a>
          </li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>
