<ion-view view-title="Search">
  <ion-content>
    <div class="alert alert-{{message.status}}" ng-show="message.status">
      <p class="text-center text-dark">
        {{ message.data }}
      </p>
    </div>
    <form ng-submit="findMovie()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label text-light">Search by Title</span>
          <input type="text" ng-model="search.title">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit" ng-disabled="!search.title">Search</button>
        </label>
      </div>
    </form>
    <div class="results" ng-if="result">
      <h3 class="padding-horizontal">Your search: {{ lastSearch }}</h3>
      <div class="row">
        <div class="col col-50">
          <img class="padding poster" ng-src="{{result.Poster}}" alt="poster" ng-if="result.Poster !== 'N/A'" ng-show="result"/>
        </div>
        <div class="col">
          <h4 class="padding-horizontal">{{ result.Title }}</h4>
          <p class="padding-horizontal">
            <strong>Rated:</strong> {{ result.Rated }}<br />
            <strong>Runtime:</strong> {{ result.Runtime }}<br />
            <strong>Cast:</strong> {{ result.Actors }}<br />
            <strong>Genres:</strong> {{ result.Genre }}<br />
            <strong>IMDB Rating:</strong> {{ result.imdbRating }}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="details">
          <div class="col">
            <p class="indented">
              {{ result.Plot }}
            </p>
          </div>
        </div>
      </div>
      <button class="button button-block button-balanced padding" ng-click="addCollection()" ng-show="currentUser">Add to Collection</button>
      <button class="button button-block button-royal padding" ng-click="addWishlist()" ng-show="currentUser">Add to Wishlist</button>
      <a class="button button-block button-balanced padding" href="#/app/login" ng-show="!currentUser">Log in to add this to your collection.</a>
    </div>
  </ion-content>
</ion-view>
