/* Empty. Add your own CSS if you like */
.alert {
  border-radius: 0px;
  padding: 15px;
  margin-bottom: 21px;
}

.alert-success {
  background-color: #3fb618;
}

.alert-danger {
  background-color: #ff0039;
}

div.bar.bar-header.item-input-inset {
  margin-top: -20px;
}

.text-center {
  text-align: center;
}

.indented {
  text-indent: 50px;
}

.poster {
  height: 250px;
}

.details {
  margin: 15px;
}
